[submodule "oca-account-financial-tools"]
	path = oca-account-financial-tools
	url = ../oca-account-financial-tools.git
	branch = releases/17-candidate
[submodule "oca-account-reconcile"]
	path = oca-account-reconcile
	url = ../oca-account-reconcile.git
	branch = releases/17-candidate
[submodule "oca-bank-payment"]
	path = oca-bank-payment
	url = ../oca-bank-payment.git
	branch = releases/17-candidate
[submodule "oca-partner-contact"]
	path = oca-partner-contact
	url = ../oca-partner-contact.git
	branch = releases/17-candidate
[submodule "oca_knowledge"]
	path = oca_knowledge
	url = ../oca_knowledge.git
	branch = releases/17-candidate
[submodule "oca_web"]
	path = oca_web
	url = ../oca_web.git
	branch = releases/17-candidate
[submodule "odoo-tom-third-party-addons"]
	path = odoo-tom-third-party-addons
	url = ../odoo-tom-third-party-addons.git
	branch = releases/17-candidate
[submodule "oca-purchase-workflow"]
	path = oca-purchase-workflow
	url = ../oca-purchase-workflow.git
	branch = releases/17-candidate
[submodule "oca-social"]
	path = oca-social
	url = ../oca-social.git
	branch = releases/17-candidate

[submodule "odoo-tom-jobcontrol"]
	path = odoo-tom-jobcontrol
	url = ../odoo-tom-jobcontrol.git
	branch = releases/17-candidate
[submodule "griffity_doc_templates"]
	path = griffity_doc_templates
	url = ../griffity_doc_templates.git
	branch = releases/17-candidate
